@import "../_variables.scss";

.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;
  @media (max-width: 998px) {
    .container {
      width: 97%;
    }
  }
  @media (max-width: 810px) {
    padding: 15px 0;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 1040px) {
      .button--cart {
        padding: 10px 15px;
      }
    }
    @media (max-width: 945px) {
      flex-direction: column;
      .container {
      }
    }
    @media (max-width: 998px) {
      .button--cart {
      }
    }
    @media (max-width: 690px) {
      flex-direction: column;
      .header__cart {
        margin-top: 10px;
      }
    }
  }

  &__logo {
    display: flex;
    text-align: left;
    padding: 0 0 0 10px;
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: scale(1.03);
    }
    &:active {
      transform: scale(0.96);
    }
    img {
      margin-right: 15px;
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      color: #7b7b7b;
    }
  }
  &__cart {
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: scale(1.03);
    }
  }
}
