@import "./../../../scss/variables";

.root {
   li {
      display: inline-block;
      a {
         display: inline-block;
         text-align: center;
         padding: 9.6px;
         border: 0.5px solid $orange;
         border-radius: 30px;
         width: 32px;
         height: 32px;
         line-height: 8px;
         font-size: 18px;
         margin-right: 10px;
         cursor: pointer;
         color: #666;
         &:hover {
            background-color: $orange;
            color: white;
         }
      }
   }

   :global {
      .selected {
         a {
            background-color: $orange;
            color: white;
         }
      }
   }
}
