.root {
   position: relative;
   .input {
      border: 1px solid rgba(0, 0, 0, 0.1);
      padding: 8px 15px;
      padding-left: 10px;
      width: 300px;
      border-radius: 12px;
      font-size: 18px;
      transition: all 0.15s ease-in-out;
      &:hover {
         border: 1px solid rgba(0, 0, 0, 0.2);
         width: 305px;
      }
      &:focus {
         border: 1px solid rgba(0, 0, 0, 0.3);
         width: 315px;
      }
   }

   .icon {
      width: 22px;
      height: 22px;
      position: absolute;
      top: 9px;
      right: 9px;
      opacity: 0.3;
      &:hover {
         opacity: 0.4;
      }
   }

   .clearIcon {
      width: 18px;
      height: 18px;
      opacity: 0.3;
      position: absolute;
      top: 12px;
      right: -25px;
      transition: all 0.15s ease-in-out;
      &:hover {
         opacity: 0.8;
         width: 20px;
         height: 20px;
      }
   }
}
